---
import { withBase } from '../content/site.js';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; url=${withBase('/en/')}`} />
    <meta name="robots" content="noindex, follow" />
    <link rel="canonical" href="https://vivien.lv/en/" />
    <title>Brasserie Vivien</title>
  </head>
  <body>
    <a href={withBase('/en/')}>Continue to Brasserie Vivien</a>
  </body>
</html>
